process {
  withName:featurecounts { 
      cpus=4
      container = 'mpgagebioinformatics/subread:2.0.3'
      containerOptions = "-v ${params.project_folder}:/workdir -v ${params.kallisto_raw_data}:/raw_data"
  }
  withName:featurecounts_headers { 
      cpus=1
      container = 'mpgagebioinformatics/rnaseq.python:3.8-1'
      containerOptions = "-v ${params.project_folder}:/workdir -v ${params.kallisto_raw_data}:/raw_data"
  }
}