process {
  withName:exomeBED_to_exomeGTF {
        cpus=1
        container = "mpgagebioinformatics/rnaseq.python-3.8-2.sif"
        containerOptions = "-v ${params.project_folder}:/workdir"
    }
    withName:featurecounts_general {
        cpus=4
        container = "mpgagebioinformatics/subread-2.0.3.sif"
        containerOptions = "-v ${params.project_folder}:/workdir -v ${params.featurecounts_raw_data}:/raw_data"
    }
    withName:featurecounts_rnaSeq_specific {
        cpus=4
        container = "mpgagebioinformatics/subread-2.0.3.sif"
        containerOptions = "-v ${params.project_folder}:/workdir -v ${params.featurecounts_raw_data}:/raw_data"
    }
  withName:featurecounts_headers { 
      cpus=1
      container = 'mpgagebioinformatics/rnaseq.python:3.8-1'
      containerOptions = "-v ${params.project_folder}:/workdir -v ${params.featurecounts_raw_data}:/raw_data"
  }
}