process {
    withName:featurecounts {
        executor='slurm'
        queue="${params.queue}"
        cpus=16
        memory='40GB'
        time='6h'
        container = "${params.image_folder}subread-2.0.3.sif"
        containerOptions = "-B ${params.project_folder}:/workdir -B ${params.kallisto_raw_data}:/raw_data"
    }
    withName:featurecounts_headers {
        executor='slurm'
        queue="${params.queue}"
        cpus=1
        memory='1GB'
        time='1h'
        container = "${params.image_folder}rnaseq.python-3.8-1.sif"
        containerOptions = "-B ${params.project_folder}:/workdir -B ${params.kallisto_raw_data}:/raw_data"
    }
}

